DJANGO_SECRET_KEY=change-this-for-local-development
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_EMAIL_TIMEOUT=10
WEB_PORT=8000
# Only set this in production to the IP addresses of trusted reverse proxies.
# DJANGO_LOGIN_THROTTLE_TRUSTED_PROXY_IPS=127.0.0.1

POSTGRES_DB=steimmo
POSTGRES_USER=steimmo
POSTGRES_PASSWORD=CHANGE_ME

POSTGRES_PORT=5432

TZ=Europe/Berlin
