{% if form.non_field_errors %}
    <div class="uk-alert-danger" uk-alert>
        {{ form.non_field_errors }}
    </div>
{% endif %}

<h2 class="uk-heading-divider">Übergabe</h2>
<div class="uk-child-width-1-2@m uk-grid-small" uk-grid>
    {% for field in form.visible_fields|slice:":5" %}
        <div>
            <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="uk-form-controls">
                {{ field }}
                {% for error in field.errors %}
                    <p class="uk-text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<h2 class="uk-heading-divider uk-margin-large-top">Zählerstände</h2>
<p class="uk-text-meta">Alle Zählerstände sind Pflichtangaben und müssen bei der Übergabe erfasst werden.</p>
<div class="uk-child-width-1-2@m uk-grid-small" uk-grid>
    {% for field in form.visible_fields|slice:"5:" %}
        <div>
            <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="uk-form-controls">
                {{ field }}
                {% for error in field.errors %}
                    <p class="uk-text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
