<div data-existing-photos>
    {% if item.fotos.all %}
        <p class="uk-text-meta">Bereits gespeicherte Fotos bleiben beim Bearbeiten und Wiederherstellen erhalten.</p>
        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
            {% for photo in item.fotos.all %}
                <div><img src="{% url 'wohnungsverwaltung:handover_protocol_checklist_item_photo_view' item.raumprotokoll.protokoll_id item.raumprotokoll_id item.pk photo.pk %}" alt="Gespeichertes Foto {{ forloop.counter }} zum Prüfpunkt {{ item.merkmal }}"></div>
            {% endfor %}
        </div>
    {% endif %}
</div>
